services:
  database:
    image: postgres:16-alpine
    container_name: postgres_ina
    environment:
      POSTGRES_DB: ina_zaoui
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  adminer:
    image: adminer
    container_name: adminer_ina
    ports:
      - "8080:8080"

volumes:
  db_data:
